body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #011f5b;
  }
  
  .produce-list-container,
  .form-container {
    margin-bottom: 20px;
  }
  
  .produce-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .produce-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .produce-item:last-child {
    border-bottom: none;
  }
  
  .produce-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  .produce-details {
    flex-grow: 1;
  }
  
  .produce-name {
    font-weight: bold;
  }
  
  .produce-price {
    margin-left: 20px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }

  .description {
    margin-top: 10px;
    align-self: stretch;
    align-items: center;
    /* padding: 10px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .produce-date {
    margin-top: 10px;
    font-size: 0.9em;
    color: #888;
  }
  
  .button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .update-button {
    background-color: #4caf50;
    color: white;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }

  .back-button {
    background-color: #4caf50;
    color: white;
  }
  
  .add-button {
    background-color: #011f5b;
    color: white;
  }
  
  .produce-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus, textarea:focus {
    border-color: #011f5b;
    outline: none;
  }